.form-control {
    width: 95% !important;
    height: 30px !important;
}
.wrapper-forms {
    background-color: lawngreen;
    width: 40%;
    padding: 30px;
    margin: auto;
}
.bs-example{
    	margin: 20px;
    }